# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.
# -*- mode: yaml -*-

jobs:
- job: osx
  pool:
    vmImage: macOS-10.15
  strategy:
    matrix:
      osx_64_numpy1.18opencl_implapplepython3.6.____cpython:
        CONFIG: osx_64_numpy1.18opencl_implapplepython3.6.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG_NAME: osx_64_numpy1.18opencl_implapplepyt_h9a4068f456
      osx_64_numpy1.18opencl_implapplepython3.7.____cpython:
        CONFIG: osx_64_numpy1.18opencl_implapplepython3.7.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG_NAME: osx_64_numpy1.18opencl_implapplepyt_h827c50c310
      osx_64_numpy1.18opencl_implapplepython3.8.____cpython:
        CONFIG: osx_64_numpy1.18opencl_implapplepython3.8.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG_NAME: osx_64_numpy1.18opencl_implapplepyt_hda91864ca4
      osx_64_numpy1.18opencl_implkhronospython3.6.____cpython:
        CONFIG: osx_64_numpy1.18opencl_implkhronospython3.6.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG_NAME: osx_64_numpy1.18opencl_implkhronosp_h0b331e0b23
      osx_64_numpy1.18opencl_implkhronospython3.7.____cpython:
        CONFIG: osx_64_numpy1.18opencl_implkhronospython3.7.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG_NAME: osx_64_numpy1.18opencl_implkhronosp_h3ef5131a6f
      osx_64_numpy1.18opencl_implkhronospython3.8.____cpython:
        CONFIG: osx_64_numpy1.18opencl_implkhronospython3.8.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG_NAME: osx_64_numpy1.18opencl_implkhronosp_h4d0fbe84e1
      osx_64_numpy1.19opencl_implapplepython3.7.____73_pypy:
        CONFIG: osx_64_numpy1.19opencl_implapplepython3.7.____73_pypy
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG_NAME: osx_64_numpy1.19opencl_implapplepyt_h7ce1dd6275
      osx_64_numpy1.19opencl_implapplepython3.9.____cpython:
        CONFIG: osx_64_numpy1.19opencl_implapplepython3.9.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG_NAME: osx_64_numpy1.19opencl_implapplepyt_h080fe3a7ef
      osx_64_numpy1.19opencl_implkhronospython3.7.____73_pypy:
        CONFIG: osx_64_numpy1.19opencl_implkhronospython3.7.____73_pypy
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG_NAME: osx_64_numpy1.19opencl_implkhronosp_h8f345da7e0
      osx_64_numpy1.19opencl_implkhronospython3.9.____cpython:
        CONFIG: osx_64_numpy1.19opencl_implkhronospython3.9.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG_NAME: osx_64_numpy1.19opencl_implkhronosp_h8e02932fe5
      osx_arm64_opencl_implapplepython3.8.____cpython:
        CONFIG: osx_arm64_opencl_implapplepython3.8.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG_NAME: osx_arm64_opencl_implapplepython3.8.____cpython
      osx_arm64_opencl_implapplepython3.9.____cpython:
        CONFIG: osx_arm64_opencl_implapplepython3.9.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG_NAME: osx_arm64_opencl_implapplepython3.9.____cpython
      osx_arm64_opencl_implkhronospython3.8.____cpython:
        CONFIG: osx_arm64_opencl_implkhronospython3.8.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG_NAME: osx_arm64_opencl_implkhronospython3_h4b612e3b76
      osx_arm64_opencl_implkhronospython3.9.____cpython:
        CONFIG: osx_arm64_opencl_implkhronospython3.9.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG_NAME: osx_arm64_opencl_implkhronospython3_h9a3867e632
    maxParallel: 9
  timeoutInMinutes: 360

  steps:
  # TODO: Fast finish on azure pipelines?
  - script: |
      export CI=azure
      export OSX_FORCE_SDK_DOWNLOAD="1"
      export GIT_BRANCH=$BUILD_SOURCEBRANCHNAME
      export FEEDSTOCK_NAME=$(basename ${BUILD_REPOSITORY_NAME})
      ./.scripts/run_osx_build.sh
    displayName: Run OSX build
    env:
      BINSTAR_TOKEN: $(BINSTAR_TOKEN)
      FEEDSTOCK_TOKEN: $(FEEDSTOCK_TOKEN)
      STAGING_BINSTAR_TOKEN: $(STAGING_BINSTAR_TOKEN)
  - script: |
        artifact_name="conda_artifacts_$(build.BuildId)_$(SHORT_CONFIG_NAME)"
        echo "##vso[task.setVariable variable=ARTIFACT_NAME]$artifact_name"
        if [ -d /Users/runner/miniforge3/conda-bld/ ]; then
          echo "##vso[task.setVariable variable=CONDA_BLD_DIR_EXISTS]true"
        fi
    displayName: Check for conda build artifacts
    condition: succeededOrFailed()

  - publish: /Users/runner/miniforge3/conda-bld/
    artifact: $(ARTIFACT_NAME)
    condition: eq(variables.CONDA_BLD_DIR_EXISTS, 'true')