# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.
# -*- mode: yaml -*-

jobs:
- job: osx
  pool:
    vmImage: macOS-11
  strategy:
    matrix:
      osx_64_numpy1.21opencl_implapplepython3.10.____cpython:
        CONFIG: osx_64_numpy1.21opencl_implapplepython3.10.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_numpy1.21opencl_implapplepyt_hec2dc01049
      osx_64_numpy1.21opencl_implapplepython3.8.____cpython:
        CONFIG: osx_64_numpy1.21opencl_implapplepython3.8.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_numpy1.21opencl_implapplepyt_hd833b31c24
      osx_64_numpy1.21opencl_implapplepython3.9.____cpython:
        CONFIG: osx_64_numpy1.21opencl_implapplepython3.9.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_numpy1.21opencl_implapplepyt_he7d04c93ee
      osx_64_numpy1.21opencl_implkhronospython3.10.____cpython:
        CONFIG: osx_64_numpy1.21opencl_implkhronospython3.10.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_numpy1.21opencl_implkhronosp_h0bc6add440
      osx_64_numpy1.21opencl_implkhronospython3.8.____cpython:
        CONFIG: osx_64_numpy1.21opencl_implkhronospython3.8.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_numpy1.21opencl_implkhronosp_h7d94f8b7f1
      osx_64_numpy1.21opencl_implkhronospython3.9.____cpython:
        CONFIG: osx_64_numpy1.21opencl_implkhronospython3.9.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_numpy1.21opencl_implkhronosp_hb834474726
      osx_64_numpy1.23opencl_implapplepython3.11.____cpython:
        CONFIG: osx_64_numpy1.23opencl_implapplepython3.11.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_numpy1.23opencl_implapplepyt_hcb355df478
      osx_64_numpy1.23opencl_implkhronospython3.11.____cpython:
        CONFIG: osx_64_numpy1.23opencl_implkhronospython3.11.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_numpy1.23opencl_implkhronosp_h1b3f6d8cac
      osx_arm64_numpy1.21opencl_implapplepython3.10.____cpython:
        CONFIG: osx_arm64_numpy1.21opencl_implapplepython3.10.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_arm64_numpy1.21opencl_implapple_h0fc8446d3b
      osx_arm64_numpy1.21opencl_implapplepython3.8.____cpython:
        CONFIG: osx_arm64_numpy1.21opencl_implapplepython3.8.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_arm64_numpy1.21opencl_implapple_h73db239a6b
      osx_arm64_numpy1.21opencl_implapplepython3.9.____cpython:
        CONFIG: osx_arm64_numpy1.21opencl_implapplepython3.9.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_arm64_numpy1.21opencl_implapple_h9d3b2c1317
      osx_arm64_numpy1.21opencl_implkhronospython3.10.____cpython:
        CONFIG: osx_arm64_numpy1.21opencl_implkhronospython3.10.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_arm64_numpy1.21opencl_implkhron_h1b495945d9
      osx_arm64_numpy1.21opencl_implkhronospython3.8.____cpython:
        CONFIG: osx_arm64_numpy1.21opencl_implkhronospython3.8.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_arm64_numpy1.21opencl_implkhron_hcdb70cb5a2
      osx_arm64_numpy1.21opencl_implkhronospython3.9.____cpython:
        CONFIG: osx_arm64_numpy1.21opencl_implkhronospython3.9.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_arm64_numpy1.21opencl_implkhron_h01a06bcb1e
      osx_arm64_numpy1.23opencl_implapplepython3.11.____cpython:
        CONFIG: osx_arm64_numpy1.23opencl_implapplepython3.11.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_arm64_numpy1.23opencl_implapple_hed80759bf2
      osx_arm64_numpy1.23opencl_implkhronospython3.11.____cpython:
        CONFIG: osx_arm64_numpy1.23opencl_implkhronospython3.11.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_arm64_numpy1.23opencl_implkhron_h95b3c2c1e1
  timeoutInMinutes: 360

  steps:
  # TODO: Fast finish on azure pipelines?
  - script: |
      export CI=azure
      export OSX_FORCE_SDK_DOWNLOAD="1"
      export GIT_BRANCH=$BUILD_SOURCEBRANCHNAME
      export FEEDSTOCK_NAME=$(basename ${BUILD_REPOSITORY_NAME})
      if [[ "${BUILD_REASON:-}" == "PullRequest" ]]; then
        export IS_PR_BUILD="True"
      else
        export IS_PR_BUILD="False"
      fi
      ./.scripts/run_osx_build.sh
    displayName: Run OSX build
    env:
      BINSTAR_TOKEN: $(BINSTAR_TOKEN)
      FEEDSTOCK_TOKEN: $(FEEDSTOCK_TOKEN)
      STAGING_BINSTAR_TOKEN: $(STAGING_BINSTAR_TOKEN)
  - script: |
      export CI=azure
      export CI_RUN_ID=$(build.BuildNumber).$(system.JobAttempt)
      export FEEDSTOCK_NAME=$(basename ${BUILD_REPOSITORY_NAME})
      export CONDA_BLD_DIR=/Users/runner/miniforge3/conda-bld
      export ARTIFACT_STAGING_DIR="$(Build.ArtifactStagingDirectory)"
      # Archive everything in CONDA_BLD_DIR except environments
      export BLD_ARTIFACT_PREFIX=conda_artifacts
      if [[ "$AGENT_JOBSTATUS" == "Failed" ]]; then
        # Archive the CONDA_BLD_DIR environments only when the job fails
        export ENV_ARTIFACT_PREFIX=conda_envs
      fi
      ./.scripts/create_conda_build_artifacts.sh
    displayName: Prepare conda build artifacts
    condition: succeededOrFailed()

  - task: PublishPipelineArtifact@1
    displayName: Store conda build artifacts
    condition: not(eq(variables.BLD_ARTIFACT_PATH, ''))
    inputs:
      targetPath: $(BLD_ARTIFACT_PATH)
      artifactName: $(BLD_ARTIFACT_NAME)

  - task: PublishPipelineArtifact@1
    displayName: Store conda build environment artifacts
    condition: not(eq(variables.ENV_ARTIFACT_PATH, ''))
    inputs:
      targetPath: $(ENV_ARTIFACT_PATH)
      artifactName: $(ENV_ARTIFACT_NAME)